:root {
  --w-surface: #fff;
  --w-surface-inactive: #eee;
  --w-surface-active: #eee;
  --w-surface-activable: #fdf;
  --w-surface-triggered: #fcf;

  --w-line-active: #505;
  --w-line-triggered: #f0f;

  --w-shadow-active: 0.1rem 0.1rem 0.3rem var(--w-line-active);
  --w-shadow-activable: 0.1rem 0.1rem 0.3rem var(--w-line-active);
}
/* semantic color variables for this project */
:root {
  --inactivesurface-background-color: var(--w-surface-inactive);

  --interactivesurface-background-color: var(--w-surface-activable);
  --interactivesurface-text-color: var(--w-line-active);
  --interactivesurface-shadow: var(--w-shadow-activable);
  --interactivesurface-hover-background-color: var(--w-surface-triggered);
  --interactivesurface-hover-shadow: var(--w-shadow-active);

  --activesurface-background-color: var(--w-surface-active);
  --activesurface-text-color: var(--w-line-active);
  --activesurface-hover-shadow: var(--w-shadow-active);
  --activesurface-hover-text-color: var(--w-line-active);

  --interactivetext-color: var(--w-line-active);
  --interactivetext-hover-color: var(--w-line-triggered);

  --item-gap: 0.5rem;
  --item-padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  --card-gap: 1rem;
  --card-padding: 0.5rem;
  --border-radius: 0.5rem;
  --border-width: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
