@import "./base.css";
@import "./icons/index.css";
#app {
  font-size: 10px;
}

main {
  font-size: 1rem;
  font-weight: normal;
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  overflow: none;
}

input {
  height: 2rem;
  padding: var(--item-padding);
  width: 100%;
  border: var(--input-border);
  border-radius: var(--border-radius);
  transition: 0.5s;
  outline: none;
  box-shadow: var(--interactivesurface-shadow);
}
input:hover {
  border: var(--input-hover-border);
  box-shadow: var(--interactivesurface-hover-shadow);
}
input:focus {
  box-shadow: var(--activesurface-hover-shadow);
}

h2 {
  text-shadow: var(--surface-shadow);
}
