@import './base.css';

#app {
  font-size: 10px;
}

main {
  font-size: 1rem;
  font-weight: normal;
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  padding: 1rem;
  border: 1px solid;
}

.item-column {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  gap: var(--item-gap);
  overflow: none;
}

.card-column {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  gap: var(--card-gap);
  overflow: none;
}

.row {
  display: flex;
  gap: 1rem;
}
.row > div {
  flex: 1 1 0;
  padding: var(--item-padding);
  display: flex;
  align-items: center;
}
.row > div:first-child {
  font-weight: bolder;
  background-color: var(--color-background-mute);
}
.row > div:nth-child(2) {
  flex: 2 1 0;
  color: black;
}

input {
  height: 2rem;
  padding: var(--item-padding);
  width: 100%;
  border: 0.1rem var(--color-border) solid;
  border-radius: var(--border-radius);
}

button {
  padding: var(--item-padding);
  font-size: 1rem;
  border: 0.1rem var(--color-border) solid;
  border-radius: var(--border-radius);
  transition: 0.5s;
}
button:hover {
  cursor: pointer;
  background-color: var(--color-background-soft);
}
